# Android Studio configuration.
*.iml
.idea/

# Gradle configuration.
.gradle/
build/

# User configuration.
local.properties

# OS configurations.
.DS_Store

# Android NDK cmake output.
.cxx/

/app/src/main/res/raw/cubito.sfb
/app/src/main/res/raw/cubito2.sfb
/app/src/main/res/raw/cubito3.sfb
/.idea/
